*{
     margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    align-items: center;
    padding: 20px;
}   
.menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.menu li a {
    color: black;
    text-decoration: none;
}
.banner{
    background-image: url(./images/2021-09-11-20-36-43-565.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner_content {
    padding-right: 30px;
}
.banner_content h2 {
    font-size: 50px;
    margin-bottom: 10px;
}
.banner_content button {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: black;
    border: none;
    color: white;
}
.banner_content button:hover {
    background-color: greenyellow;
}