*{
     margin: 30px;
    padding: 10px;
    box-sizing: 10px;
    background-color: turquoise;
}
.flier {
    background-color: greenyellow;
}
.navigation {
    align-items: flex-start;
    background-color: aquamarine;
    font-size: medium;
}
